<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unse.bienestar.comedor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.PDFMonthActivity" />
        <activity android:name=".Activity.InfoReservaActivity" />
        <activity android:name=".Activity.NuevoAlumnoActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SlideWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PerfilActivity" />
        <activity android:name=".Activity.LockedActivity" />
        <activity android:name=".Activity.NuevoMenuActivity" />
        <activity android:name=".Activity.ReservaDiaActivity" />
        <activity android:name=".Activity.HistorialReservasActivity" />
        <activity android:name=".Activity.ListadoReservaActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.FaqsActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_b_bienestar" /> <!-- Servicio de Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorWhite" />

        <service android:name=".Firebase.FirebaseMessagingSDEService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Info Configuración Firebase -->
        <service android:name=".Firebase.FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>