<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comedor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.comedor.Activity.InfoReservaActivity" />
        <activity android:name="com.example.comedor.Activity.NuevoAlumnoActivity" />
        <activity android:name="com.example.comedor.Activity.MainActivity" />
        <activity android:name="com.example.comedor.Activity.LoginActivity" />
        <activity android:name="com.example.comedor.Activity.SlideWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.comedor.Activity.PerfilActivity" />
        <activity android:name="com.example.comedor.Activity.LockedActivity" />
        <activity android:name="com.example.comedor.Activity.NuevoMenuActivity" />
        <activity android:name="com.example.comedor.Activity.ReservaDiaActivity" />
        <activity android:name="com.example.comedor.Activity.HistorialReservasActivity" />
        <activity android:name="com.example.comedor.Activity.ListadoReservaActivity" />
        <activity android:name="com.example.comedor.Activity.AboutActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>