<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comedor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dialogos.DialogCancelar"></activity>
        <activity android:name=".Activity.PerfilReservaActivity" />
        <activity android:name=".Fragment.MisReservasFragment" />
        <activity android:name=".Activity.ReservaActivity" />
        <activity android:name=".Activity.AddAlumnoActivity" />
        <activity android:name=".Fragment.GestionReservasFragment" />
        <activity android:name=".Fragment.InicioFragment" />
        <activity android:name=".Fragment.EstadisticasFragment" />
        <activity android:name=".Fragment.GestionUsuarioFragment" />
        <activity android:name=".Fragment.GestionMenuFragment" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PerfilActivity" />
        <activity android:name=".Activity.LockedActivity" />
        <activity android:name=".Activity.NuevoMenuActivity" />
        <activity android:name=".Activity.ReservaDiaActivity" />
    </application>

</manifest>